ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
    background-color: #4a4a4a;
    margin-bottom: 3px;
    padding: 60px 40px 60px 100px;/*mover a palavra projeto*/
    background-image: url(../_imagens/done---1477--copy-3.png);/*criando as caixas como Bg*/
    background-repeat: no-repeat;
    background-position: 40px/*posicionando a caixa*/;
    
    

    
}
li:hover{
    background-color: #6e6e6e;
   
}


a{
    color: #fff;
    text-decoration: none;
    display: block;
    background-image: url(../_imagens/arrow-right---336-.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing:antialiased;
    
}
li.feito{
    background-color: #27ae60;
    background-image: url(../_imagens/done---1477-.png);
}

li.feito:hover{
    background-color: #52be7f;
}